/**
 * {{title}} Gulp Configuration File
 *
 * @package {{namespace}}
 */


module.exports = {
	{{slugPascalCase}}CSS: [ // {{title}} CSS
		'assets/css/*'
	], 
	{{slugPascalCase}}JS: [ // {{title}} JS
		'assets/js/*'
	]
};